<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboardLayout.html}">

<head>

</head>

<body>
    <section class="row" layout:fragment="content">
        <div class="col mt-4">
            <form th:action="@{/signup/saveAsCustomer}" method="post" th:object="${user}" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                        <h2>Register a new account</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Register as a client</h4>
                                        <a name="" id="" class="btn btn-primary" th:href="@{/signup/customer}" role="button">Register as a client</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Register as a freelancer</h4>
                                        <a name="" id="" class="btn btn-primary" th:href="@{/signup/freelancer}" role="button">Register as a freelancer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>

</html>