<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboardLayout_copy.html}">

<head>

</head>

<body>
    <section class="row" layout:fragment="content">
        <div class="col mt-4 mb-3">
            <div class="card pb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between"
                        style="border-bottom: 1px solid black;border-color: rgb(207, 207, 207);">
                        <h3 class="card-header"
                            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Admin Dashboard</h3>
                    </div>

                    <div class="row d-flex justify-content-around mt-3 mb-5">
                        <a class="card col-3 border m-2 shadow " th:href="@{/jobs}"
                            style="background-color: rgb(250, 86, 86); height: 130px; border-radius: 0;">
                            <div class="row h-100" style="height: fit-content;">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <p style="color: white; font-size: 200%;"><i class="fa-solid fa-note-sticky"></i>
                                    </p>
                                </div>
                                <div class="col-8"
                                    style="border-left: 1px solid black;border-color: rgb(217, 220, 221);">
                                    <div class="row pl-2 h-50 d-flex align-items-center"
                                        style="border-bottom: 1px solid black;border-color: rgb(217, 220, 221);">
                                        <p th:text="${jobsCount}"
                                            style="color: white; font-size: 200%; font-weight: 500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                        </p>
                                    </div>
                                    <div class="row pl-2 h-50 d-flex align-items-center">
                                        <p
                                            style="color: white; font-size: 120%; font-weight: 450; opacity: 80%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                            Jobs</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a class="card col-3 border m-2 shadow " th:href="@{/admin/accounts}"
                            style="background-color: rgb(0, 29, 220); height: 130px; border-radius: 0;">
                            <div class="row h-100" style="height: fit-content;">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <p style="color: white; font-size: 200%;"><i class="fa-solid fa-user-group"></i>
                                    </p>
                                </div>
                                <div class="col-8"
                                    style="border-left: 1px solid black;border-color: rgb(217, 220, 221);">
                                    <div class="row pl-2 h-50 d-flex align-items-center"
                                        style="border-bottom: 1px solid black;border-color: rgb(217, 220, 221);">
                                        <p th:text="${accountsCount}"
                                            style="color: white; font-size: 200%; font-weight: 500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                        </p>
                                    </div>
                                    <div class="row pl-2 h-50 d-flex align-items-center">
                                        <p
                                            style="color: white; font-size: 120%; font-weight: 450; opacity: 80%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                            Accounts</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="row d-flex justify-content-around">
                        <div class="col-6">
                            <canvas id="myChartJob" style="width:100%;max-width:800px;border-radius: 0;"
                                class=""></canvas>
                        </div>
                        <div class="col-6">
                            <canvas id="myChartAccount" style="width:100%;max-width:800px;border-radius: 0;"
                                class=""></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            var xValues = ["Hiring", "Ongoing", "Completed"];
            var hiring = [(${ hiringJobsCount })];
            var ongoing = [(${ ongoingJobsCount })];
            var completed = [(${ completedJobsCount })];
            var yValues = [hiring, ongoing, completed];
            var barColors = [
                "#b91d47",
                "#00aba9",
                "#2b5797"
            ];

            new Chart("myChartJob", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Jobs Status"
                    }
                }
            });

            var xValuesP = ["Client", "Freelancer",""];
            var client = [(${ clientAccountsCount })];
            var freelancer = [(${ freelancerAccountsCount })];
            var yValuesP = [client, freelancer,0];
            var barColorsP = [
                "#ff2c02",
                "#bd00fc"
            ];

            new Chart("myChartAccount", {
                type: "bar",
                data: {
                    labels: xValuesP,
                    datasets: [{
                        backgroundColor: barColorsP,
                        data: yValuesP
                    }]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: "Account Roles"
                    }
                }
            });
        </script>
    </section>
</body>

</html>