<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboardLayout.html}">

<head>

</head>

<body>
    <section class="row" layout:fragment="content">
        <div class="col mt-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h2 class="col">Job detail</h2>
                        <a th:href="@{/customer/jobs/edit/{id}(id=${job.jobId})}"
                            th:if="${session.userid == job.userId}" class="btn btn-outline-warning"><i
                                class="fas fa-edit float-right"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <h5>Title</h5>
                                <p th:text="${job.title}"></p>
                            </div>
                            <div class="form-group">
                                <h5>Scope</h5>
                                <p th:text="${job.scope}"></p>
                            </div>
                            <div class="form-group">
                                <h5>Duration</h5>
                                <p th:text="${job.duration}"></p>
                            </div>
                            <div class="form-group">
                                <h5>Status</h5>
                                <th:block th:switch="${job.status}">
                                    <p th:case="1" th:text="Hiring"></p>
                                    <p th:case="2" th:text="On-going"></p>
                                    <p th:case="3" th:text="Completed"></p>
                                </th:block>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <h5>Budget</h5>
                                <p th:text="${job.budget}"></p>
                            </div>

                            <div class="form-group">
                                <h5>Type of project</h5>
                                <p th:text="${jobField}"></p>
                            </div>


                            <div class="form-group">
                                <h5>Tags</h5>
                                <div>
                                    <th:block th:each="tech : ${techList}" class="form-check-label">
                                        <span th:text="${tech.name}"></span><span>, </span>
                                    </th:block>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 border">
                            <h4>Posted by</h4>
                            <div class="form-group">
                                <h5>Name</h5>
                                <p th:text="${jobOwner.name}"></p>
                            </div>
                            <div class="form-group">
                                <h5>Email</h5>
                                <p th:text="${jobOwner.email}"></p>
                            </div>
                            <div class="form-group">
                                <h5>Phone number</h5>
                                <p th:text="${jobOwner.phone}"></p>
                            </div>
                            <div class="form-group">
                                <h5>Company</h5>
                                <p th:text="${ownerProfile.company}"></p>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <h4>Description</h4>
                                <p th:text="${job.description}"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</body>

</html>