<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">

<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
	integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	crossorigin="anonymous">
</head>
<body>
	<h1>hello</h1>
	<div sec:authorize="hasAnyAuthority('ADMIN')">
	<a class="btn btn-sm btn-outline-primary m-2 float-right" href="user">user management</a>
	<a class="btn btn-sm btn-outline-primary m-2 float-right" href="user">View My Project List</a>
	<a class="btn btn-sm btn-outline-primary m-2 float-right" href="user">View All Project List</a>
	</div>
	<h1>Current User : </h1>
	<h2 th:text="${currentUser.id}"></h2>
	<h2 th:text="${currentUser.email}"></h2>
	
</body>
</html>