<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">M!nhduc2102</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://13.212.197.27:1433;databaseName=FreelancePlatform</property>
        <property name="hibernate.connection.username">sa</property>
    </session-factory>
</hibernate-configuration>
