<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b> &nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>

	<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
		<a href="/user/new">Create New User Account</a>
	</div>
	<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
		<a href="/customer/new">Create New Customer Account</a>
	</div>
	
	
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<!--<th>Role</th>-->
				<th>Balance</th>
				<th>Password</th>
				<th>createDate</th>
				<th>updateDate</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user :${userAccountList}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.fullName}"></td>
				<td th:text="${user.email}"></td>
				<!-- <td th:text="${user.roles}"></td> -->
				<td th:text="${user.balance}"></td>
				<td th:text="${user.password}"></td>
				<td th:text="${user.createDate}"></td>
				<td th:text="${user.updateDate}"></td>
				<td th:text="${user.status}"></td>
				<td>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
						<a th:href="@{'/user/edit/' + ${user.id}}">EDIT</a>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
						<a th:href="@{'/user/delete/' + ${user.id}}">DELETE</a>
					</div>
				</td>
			</tr>
		</tbody>

	</table>
</body>
</html>