<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboardLayout_copy.html}">

<head>

</head>

<body>
    <section class="row" layout:fragment="content">
        <div class="col mt-4 mb-3">
            <div class="card pb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between" style="border-bottom: 1px solid black;border-color: rgb(207, 207, 207);">
                        <h3 class="card-header"
                            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Customer Dashboard</h3>
                        <div class="d-flex align-items-center">
                            <a class="nav-link" th:href="@{/customer/jobs/add}"><button
                                    type="button" class="btn btn-light" style="background-color: rgb(95, 97, 230);">
                                    <span style="font-size: 115%;font-weight: 450; color: white;">Post a
                                        Job</span></button></a>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around mt-3 mb-5">
                        <a class="card col-3 border m-2 shadow " th:href="@{/customer/jobs}"
                            style="background-color: rgb(250, 86, 86); height: 130px; border-radius: 0;">
                            <div class="row h-100" style="height: fit-content;">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <p style="color: white; font-size: 200%;"><i class="fa-solid fa-note-sticky"></i>
                                    </p>
                                </div>
                                <div class="col-8"
                                    style="border-left: 1px solid black;border-color: rgb(217, 220, 221);">
                                    <div class="row pl-2 h-50 d-flex align-items-center"
                                        style="border-bottom: 1px solid black;border-color: rgb(217, 220, 221);">
                                        <p th:text="${postedJobsCount}"
                                            style="color: white; font-size: 200%; font-weight: 500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                        </p>
                                    </div>
                                    <div class="row pl-2 h-50 d-flex align-items-center">
                                        <p
                                            style="color: white; font-size: 120%; font-weight: 450; opacity: 80%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                            Jobs Posted</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="card col-3 border m-2 shadow" th:href="@{/customer/jobs/ongoing}"
                            style="background-color: rgb(246, 163, 40); height: 130px; border-radius: 0;">
                            <div class="row h-100" style="height: fit-content;">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <p style="color: white; font-size: 200%;"><i class="fa-solid fa-notes-medical"></i>
                                    </p>
                                </div>
                                <div class="col-8"
                                    style="border-left: 1px solid black;border-color: rgb(217, 220, 221);">
                                    <div class="row pl-2 h-50 d-flex align-items-center"
                                        style="border-bottom: 1px solid black;border-color: rgb(217, 220, 221);">
                                        <p th:text="${ongoingJobsCount}"
                                            style="color: white; font-size: 200%; font-weight: 500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                        </p>
                                    </div>
                                    <div class="row pl-2 h-50 d-flex align-items-center">
                                        <p
                                            style="color: white; font-size: 120%; font-weight: 450; opacity: 80%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                            On-going Jobs</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="card col-3 border m-2 shadow " th:href="@{/customer/proposals}" 
                            style="background-color: rgb(0, 29, 220); height: 130px; border-radius: 0;">
                            <div class="row h-100" style="height: fit-content;">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <p style="color: white; font-size: 200%;"><i class="fa-solid fa-user-group"></i>
                                    </p>
                                </div>
                                <div class="col-8"
                                    style="border-left: 1px solid black;border-color: rgb(217, 220, 221);">
                                    <div class="row pl-2 h-50 d-flex align-items-center"
                                        style="border-bottom: 1px solid black;border-color: rgb(217, 220, 221);">
                                        <p th:text="${proposalCounts}"
                                            style="color: white; font-size: 200%; font-weight: 500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                        </p>
                                    </div>
                                    <div class="row pl-2 h-50 d-flex align-items-center">
                                        <p
                                            style="color: white; font-size: 120%; font-weight: 450; opacity: 80%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                            Proposals</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <div class="col-6">
                            <canvas id="myChartJob" style="width:100%;max-width:800px;border-radius: 0;"
                                class=""></canvas>
                        </div>
                        <div class="col-6">
                            <canvas id="myChartProposal" style="width:100%;max-width:800px;border-radius: 0;"
                                class=""></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            var xValues = ["Hiring", "Ongoing", "Completed"];
            var hiring = [(${ hiringJobsCount })];
            var ongoing = [(${ ongoingJobsCount })];
            var completed = [(${ completedJobsCount })];
            var yValues = [hiring, ongoing, completed];
            var barColors = [
                "#b91d47",
                "#00aba9",
                "#2b5797"
            ];

            new Chart("myChartJob", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Posted Jobs Status"
                    }
                }
            });

            var xValuesP = ["Rejected", "Waiting for Approval", "Approved"];
            var rejected = [(${ rejectedProposalCounts })];
            var processing = [(${ processingProposalCounts })];
            var approved = [(${ approvedProposalCounts })];
            var yValuesP = [rejected, processing, approved];
            var barColorsP = [
                "#ff2c02",
                "#bd00fc",
                "#00fc04"
            ];

            new Chart("myChartProposal", {
                type: "doughnut",
                data: {
                    labels: xValuesP,
                    datasets: [{
                        backgroundColor: barColorsP,
                        data: yValuesP
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Proposals Status"
                    }
                }
            });

        </script>
    </section>
</body>

</html>