<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboardLayout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
	integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	crossorigin="anonymous">

<body>
	<section class="row" layout:fragment="content">
		<div class="col mt-4">
			<form th:action="@{/customer/project/save}" method="post"
				th:object="${project}" enctype="multipart/form-data">
				<div class="card">
					<div class="card-header">
						<h2>Add new job</h2>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-7">
								<!-- <input type="hidden" th:field="*{id}"> -->
								<div class="form-group">
									<label for="title">CreateDate</label> <input type="text"
										class="form-control" th:field="*{createDate}"
										readonly="readonly" aria-describedby="titleHid"
										placeholder="CreateDate">
								</div>

								<div class="form-group">
									<label for="title">Title</label> <input type="text"
										class="form-control" name="title" id="title"
										th:field="*{title}" aria-describedby="titleHid"
										placeholder="Title">
								</div>

								<div class="form-group">
									<label for="scopeId">Scope</label> <select class="form-control"
										name="scope" id="scope" th:field="*{scope}">
										<option th:each="item:${scopes}" th:value="${item}"
											th:text="${item}">Scope</option>
									</select>
								</div>
								<div class="form-group">
									<label for="durationId">Duration</label> <select
										class="form-control" name="duration" id="duration"
										th:field="*{duration}">
										<option th:each="item:${durations}" th:value="${item}"
											th:text="${item}">Duration</option>
									</select>
								</div>

							</div>
							<div class="col-3">
								<div class="input-group form-group">
									<span class="input-group-text">Budget</span> <input
										th:field="*{budget}" type="number" name="budget"
										id="budget" class="form-control" placeholder="Budget">
									<span class="input-group-text">VND</span>
								</div>


								<div class="form-group">
									<label for="fieldId">Field</label> <select class="form-control"
										name="fieldId" id="fieldId">
										<option th:each="item:${fieldList}" th:value="${item.id}"
											th:text="${item.name}">Field</option>
									</select>
								</div>


								<div class="form-check">
									<label for="">Add tags for this project</label> <br /> <input
										type="text" value="" name="searchColumn" id="searchColumn" />
									<div style="overflow-x: scroll; height: 200px;">
										<th:block th:each="tech : ${techList}"
											class="form-check-label">
											<div class="checkbox">
												<input class="checkboxInput" type="checkbox"
													th:name="techChecked" th:value="${tech.name}" /> <label
													th:text="${tech.name}"></label> <br />
											</div>
										</th:block>
									</div>
								</div>
								<div>
									<p id="valueList"></p>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="description">Description</label>
									<textarea th:field="*{description}" class="form-control"
										name="description" id="description" rows="5"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer text-muted">
						<button class="btn btn-primary">Save</button>
					</div>
				</div>
			</form>
		</div>

	</section>

</body>
</html>